.custom-pagination .page-item.active .page-link {
  background-color: black;
  border-color: black;
  color: white;
}

.custom-pagination .page-link {
  color: black;
}

.custom-pagination .page-link:hover {
  color: black;
  background-color: #e9ecef;
}
